
/*
HTML全体に適用できる変数を記述
--変数名: ;
var(変数名)で呼び出す
*/
:root{
    /*背景で使うメインカラー*/
    --Primary: #EC8C1F;

    /*新規登録ボタン*/
    --signup: #5B514F;
    
    /*ログインボタン*/
    --login: #FFFFFF;

    /*今すぐ始めるボタン*/
    --startnow: #2A416A;

    /*黒文字*/
    --Black: #432821;

    /*黒ボタン*/
    --DarkGray: #5B514F;

    /*白*/
    --White: #FFFFFF;

    /*確定ボタン*/
    --Secondary: #2A416A;


    /*問題選択肢の色*/
    --first: #2A416A;
    --second: #E24725;
    --third: #277C3F;
    --fourth: #F6D561;
    
    --A: #2A416A;
    --B: #E24725;
    --C: #277C3F;

    /*タイマーの色*/
    --timer: #E6362B;

}

